@import '../../assets/scss/mixins';
@import '../../assets/scss/theme';

.autocomplete-multiple {
  &-wrapper {
    @include get-input-sizes();
    @include get-input-states();
    @each $size-name, $size-value in map-get($sizes, 'inputs') {
      &.#{$size-name} {
        .input-base {
          padding-right: map-get($size-value, 'font-size') * 2.2;
        }
      }
      & .tag {
        margin: 0 6px 0 0;
        padding-right: map-get($size-value, 'fromTop');
        padding-left: map-get($size-value, 'fromTop');
        padding-top: map-get($size-value, 'fromTop') - 2;
        padding-bottom: map-get($size-value, 'fromTop') - 2;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        font-size: map-get($size-value, 'fromTop') * 5;
      }
    }
  }

  &-container {
    position: relative;
    @include get-input-types();
    //@include get-input-base;
    @each $size-name, $size-value in map-get($sizes, 'inputs') {
      .append-icon.#{$size-name} {
        height: 100%;
        width: map-get($size-value, 'font-size') * 1.8;
        position: absolute;
        top: map-get($size-value, 'fromTop') * 1.2;
        right: map-get($size-value, 'font-size') / 3;
        svg {
          margin-top: map-get($size-value, 'font-size') - 12;
        }
      }
    }
  }
  &-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 10;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
    max-height: 400px;
    overflow: auto;
    &.show {
      display: block;
    }
    @include theme-aware('background-color', 'bg-color', 'dropdown');
    @include theme-aware('box-shadow', 'shadow', 'dropdown');
    @each $size-name, $size-value in map-get($sizes, 'inputs') {
      .autocomplete-wrapper.#{$size-name} & {
        padding: map-get($size-value, 'font-size') / 1.5;
        font-size: map-get($size-value, 'font-size');
      }
      &-option {
        padding-top: map-get($size-value, 'font-size') / 1.5;
        padding-bottom: map-get($size-value, 'font-size') / 1.5;
        padding-left: map-get($size-value, 'font-size') / 1.2;
        padding-right: map-get($size-value, 'font-size') / 1.2;
        cursor: pointer;
        &:hover {
          @include theme-aware('background-color', 'opt-bg-color', 'dropdown');
        }
        &.active {
          @include theme-aware('background-color', 'opt-bg-color', 'dropdown');
        }
        &[data-focus="true"] {
          @include theme-aware('background-color', 'opt-bg-color', 'dropdown');
        }
      }
    }
  }

  &-input {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      & input {
        font-size: 14px;
        height: 100%;
        box-sizing: border-box;
        padding: 2px 6px;
        width: 0;
        min-width: 30px;
        flex-grow: 1;
        border: 0;
        margin: 0;
        outline: 0;
      }
    }
  }
}



.autocomplete-multiple-dropdown-option[aria-selected='false'] .pretty.checkbox:nth-child(1) {
  display: none;
}

.autocomplete-multiple-dropdown-option[aria-selected='false'] .pretty.checkbox:nth-child(2) {
  display: inline-block;
}

.autocomplete-multiple-dropdown-option[aria-selected='true'] .pretty.checkbox:nth-child(1) {
  display: inline-block;
}

.autocomplete-multiple-dropdown-option[aria-selected='true'] .pretty.checkbox:nth-child(2) {
  display: none;
}
