// LIGHT THEME
$primary-light: #3266D5;
$secondary-light: #1BC5BD;
$danger-light: #C62828;
$success-light: #1F8B24;
$info-light: aqua;
$plain-light: #F3F2FF;
$muted-text-light: #B5B5C3;
$muted-bg-light: #E4E6EF;
$plain-dark-light: #000028;
$dark-light: #222D59;
$darkblue-light: #222D59;
$darkblue2-light: #18203F;
$darkgrey-light: #5d5d5d;
$grey-light: #aeaeae;
$light-grey-light: #D9D5E0;
$light-light: #EBEDF3;
$light2-light: #F3F2FF;

  // Texts color
$contrast-text-light: #fff;
$main-text-light: #222D59;
$secondary-text-light: #645D6A;
$alter-text-light: #BBB5C7;

// DARK THEME
$primary-dark: #062a77;
$secondary-dark: #05625e;
$danger-dark: #5a0202;
$success-dark: #074e0a;
$info-dark: #094343;
$plain-dark: #1d1d1f;
$muted-text-dark: #37373c;
$muted-bg-dark: #242323;
$plain-dark-dark: #000028;
$dark-dark: #0f1428;
$darkblue-dark: #080b15;
$darkblue2-dark: #080b16;
$darkgrey-dark: #121113;
$grey-dark: #2c2c37;
$light-grey-dark: #525054;
$light-dark: #515254;
$light2-dark: #57565b;

  // Texts color
$contrast-text-dark: #a7a2a2;
$main-text-dark: #c1c1c1;
$secondary-text-dark: #626270;
$alter-text-dark: #544f37;


$justify-contents: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);
$align-items: (
  start: flex-start,
  end: flex-end,
  center: center,
);

$spacings: (
  0: 0,
  1: 4px,
  2: 6px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 15px,
  /**
   *
   * Максимальное должно оставаться 6. Если нужно будет добавить еше отступы, то обязательно нужно
   * поменять padding у .container на максимальный. Это нужно для того чтобы контейнер не вываливался за body
   * Потому что добавляя отступы у колонок, мы устанавливаем минусовой margin у .row, для того, чтобы все
   * колонки были на одной линии слева и справа экрана
   */
);

$breakpoints: (
  xxs: 0px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px,
);
$max-cols: 12;
$max-size: 5;

$sidebar-width: 80px;
$actionbar-width: 310px;
$logo-height: 50px;
$items-top-gap: 40px;
$navigation-paddings: 10px;

// THEMES
$themes: (
  light: (
    buttons: (
      primary: $primary-light,
      secondary: $secondary-light,
      danger: $danger-light,
      warning: #f6ae4f,
      success: $success-light,
      info: $info-light,
      plain: $darkgrey-light,
      muted: $muted-bg-light,
    ),
    typography: (
      main: $main-text-light,
      secondary: $secondary-text-light,
      alter: $alter-text-light,
      contrast: $contrast-text-light,
      danger: $danger-light,
      success: $success-light,
      info: $info-light,
      warning: #f6ae4f,
    ),
    inputs: (
      primary: (
        bg-color: #F3F6F9,
        text-color: #3F4254,
      ),
      secondary: (
        bg-color: #BBB5C7,
        text-color: #66667F,
      )
    ),
    inputStates: (
      error: (
        color: $danger-light,
      ),
      success: (
        color: $success-light,
      ),
    ),
    label: (
      color: $plain-light,
      secondary-color: #181C32,
    ),
    dropdown: (
      bg-color: #FFF,
      opt-bg-color: #F3F6F9,
      shadow: 1px 6px 13px 6px rgba(0, 32, 51, 0.18),
    ),
    steps: (
      text: $muted-text-light,
      item-border: $light-grey-light,
      item-active: $secondary-light,
    ),
    navigation: (
      sidebar-bg: $darkblue2-light,
      item-bg: #FFF,
      item-color: $primary-light,
      actionbar-bg: $darkblue-light,
      actionbar-active-item: rgba(255, 255, 255, 0.16),
      actionbar-active-border: $primary-light,
      actionbar-divider: $darkblue2-light,
    ),
    backgrounds: (
      primary: #F3F2FF,
      secondary: #EBEDF3,
      disabled: $grey-light,
      page: #FFF,
      light: $light-light,
      light2: #F8F9FB,
    ),
    chips: (
      primary: #F3F2FF,
      secondary: $primary-light,
      alter: $secondary-light,
    ),
    tables: (
      header: #F8F9FB,
      selected: #F2F3F5,
    ),
    tags: (
      background: lighten($primary-light, 40%),
      color: lighten($primary-light, 5%),
    ),
  ),
  dark: (
    buttons: (
      primary: $primary-dark,
      secondary: $secondary-dark,
      danger: $danger-dark,
      warning: #f6ae4f,
      success: $success-dark,
      info: $info-dark,
      plain: $darkgrey-light,
      muted: $grey-light,
    ),
    typography: (
      main: $main-text-dark,
      secondary: $secondary-text-dark,
      alter: $alter-text-dark,
      contrast: $contrast-text-dark,
      danger: $danger-dark,
      success: $success-dark,
      info: $info-dark,
      warning: #f6ae4f,
    ),
    inputs: (
      primary: (
        bg-color: #F3F6F9,
        text-color: #3F4254,
      ),
      secondary: (
        bg-color: #F3F6F9,
        text-color: #3F4254,
      )
    ),
    inputStates: (
      error: (
        color: $danger-dark,
      ),
      success: (
        color: $success-dark,
      ),
    ),
    label: (
      color: $plain-dark,
      secondary-color: #181C32,
    ),
    dropdown: (
      bg-color: #BBB5C7,
      opt-bg-color: #F3F6F9,
      shadow: 1px 6px 13px 6px rgba(0, 32, 51, 0.18),
    ),
    steps: (
      text: $muted-text-light,
      item-border: $light-grey-light,
      item-active: $secondary-light,
    ),
    navigation: (
      sidebar-bg: $darkblue2-light,
      item-bg: #FFF,
      item-color: $primary-light,
      actionbar-bg: $darkblue-light,
      actionbar-active-item: rgba(255, 255, 255, 0.16),
      actionbar-active-border: $primary-light,
      actionbar-divider: $darkblue2-light,
    ),
    backgrounds: (
      primary: #F3F2FF,
      secondary: #EBEDF3,
      disabled: $grey-light,
      page: #1d1d1d,
      light: $light-dark,
      light2: #F8F9FB,
    ),
    chips: (
      primary: #F3F2FF,
      secondary: $primary-light,
      alter: $secondary-light,
    ),
    tables: (
      header: #F8F9FB,
      selected: #F2F3F5,
    ),
    tags: (
      background: lighten($primary-dark, 40%),
      color: lighten($primary-dark, 5%),
    ),
  ),
);

$sizes: (
  buttons: (
    extra-small: (
      padding: 5px 12px,
      border-radius: 4px,
      font-size: 10px,
      icon-width: 16px,
    ),
    small: (
      padding: 6px 14px,
      border-radius: 5px,
      font-size: 12px,
      icon-width: 18px,
    ),
    medium: (
      padding: 8px 15px,
      border-radius: 6px,
      font-size: 14px,
      icon-width: 20px,
    ),
    large: (
      padding: 8px 16px,
      border-radius: 7px,
      font-size: 16px,
      icon-width: 26px,
    ),
  ),
  iconButtons: (
    extra-small: (
      width: 25px,
      height: 25px,
      font-size: 15px,
      icon-width: 18px,
    ),
    small: (
      width: 30px,
      height: 30px,
      font-size: 15px,
      icon-width: 18px,
    ),
    medium: (
      width: 35px,
      height: 35px,
      font-size: 15px,
      icon-width: 18px,
    ),
    large: (
      width: 40px,
      height: 40px,
      font-size: 18px,
      icon-width: 26px,
    ),
  ),
  inputs: (
    small: (
      border-radius: 5px,
      padding: 4px 8px,
      font-size: 12px,
      fromTop: 5px,
    ),
    medium: (
      border-radius: 5px,
      padding: 6px 10px,
      font-size: 14px,
      fromTop: 4px,
    ),
    large: (
      border-radius: 5px,
      padding: 8px 12px,
      font-size: 16px,
      fromTop: 2px,
    ),
  ),
  inputTips: (
    small: (
      padding: 4px 0,
      font-size: 12px,
    ),
    medium: (
      padding: 6px 0,
      font-size: 14px,
    ),
    large: (
      padding: 8px 0,
      font-size: 16px,
    ),
  ),
);
