@import "../../assets/scss/mixins";

.btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: .2s;
  // @include theme-aware('background', 'color-background');
  // @include theme-aware('color', 'color-text');
  @include get-btn-sizes('buttons');
  @include get-buttons();
  &.full-width {
    width: 100%;
    justify-content: center;
  }
}
