@import "../../assets/scss/theme";

.container {
  padding: map-get($spacings, 6);
};

.row {
  display: flex;
  flex-wrap: wrap;
  @each $spacing, $space in $spacings {
    &.spacing-#{$spacing} {
      margin-left: -$space;
      margin-right: -$space;
      & > .col {
        padding: $space;
      }
    }
  }
  &.justify {
    @each $name, $value in $justify-contents {
      &-#{$name} {
        justify-content: $value;
      }
    }
  }
  &.align {
    @each $name, $value in $align-items {
      &-#{$name} {
        align-items: $value;
      }
    }
  }
  > * {
    width: 100%;
    max-width: 100%;
  }
}

.col {
  box-sizing: border-box;
  @each $breakpoint, $width in $breakpoints {
    @for $i from 1 through $max-cols {
      @media (min-width: $width) {
        &-#{$breakpoint}-#{$i} {
          max-width: $i * 100% / $max-cols;
          width: $i * 100% / $max-cols;
          flex: 1 1 auto;
        }
      }
    }
  }
  width: auto;
  flex: 1 1 auto;
  &.self {
    @each $name, $value in $align-items {
      &-#{$name} {
        align-self: $value;
      }
    }
  }
  &.text-center {
    text-align: center;
  }
  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
  &.text-justify {
    text-align: justify;
  }
}
