@import './variables';
@import '../../assets/scss/mixins';

.actionbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  @include theme-aware('background-color', 'actionbar-bg', 'navigation');
  box-sizing: border-box;
  width: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: .2s;
  white-space: nowrap;
  &.show {
    width: $actionbar-width;
  }
  &-container {
    margin-top: $logo-height + $items-top-gap + 20;
    box-sizing: border-box;
  }
  &-divider {
    height: 2px;
    width: 90%;
    margin: 20px auto;
    @include theme-aware('background-color', 'sidebar-bg', 'navigation');
  }
  &-nav-additional {
    max-width: 100%;
    white-space: normal;
  }
}
