@import '../../assets/scss/theme';
@import '../../assets/scss/mixins';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  @include theme-aware('background-color', 'sidebar-bg', 'navigation');
  @include theme-aware('color', 'item-color', 'navigation');
  width: $sidebar-width;
  box-sizing: border-box;
  padding: $navigation-paddings;
  z-index: 99;
  &-logo {
    width: 100%;
    height: $logo-height;
    @include theme-aware('color', 'item-bg', 'navigation');
    img {
      width: 100%;
    }
  }
  &-extra {
    margin-top: auto;
  }
}

.main-content {
  margin-left: $sidebar-width + $actionbar-width;
  box-sizing: border-box;
  padding: 10px;
  transition: .2s;
  .app-container & {
    margin-left: $sidebar-width;
  }
  .app-container.actionbar-show & {
    margin-left: $sidebar-width + $actionbar-width;
    @media (max-width: 991px) {
      margin-left: $sidebar-width;
    }
  }
}
