@import '../../assets/scss/mixins';

body.noscroll {
  overflow: hidden;
}

.alert-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 40, 0.5);
  &.show {
    display: flex;
  }
  &-wrapper {
    $min-widths: (
      xxs: 95%,
      xs: 95%,
      sm: 400px,
      md: 500px,
      xl: 600px,
      xxl: 600px,
      xxxl: 600px,
    );
    $max-width: (
      xxs: 95%,
      xs: 95%,
      sm: 700px,
      md: 900px,
      xl: 1100px,
      xxl: 1200px,
      xxxl: 1200px,
    );
    border-radius: 5px;
    overflow: hidden;
    position: static;
    max-height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    @each $size-name, $size-value in $breakpoints {
      @media (min-width: $size-value) {
        min-width: map-get($min-widths, $size-name);
        max-width: map-get($max-width, $size-name);
      }
    }
    @include theme-aware('background-color', 'page', 'backgrounds');
  }
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 60px 10px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
  }
  &-icon {
    width: 80px;
    margin-bottom: 30px;
    &.error {
      @include theme-aware('color', 'danger', 'buttons');
    }
    &.info {
      @include theme-aware('color', 'primary', 'buttons');
    }
    &.warning {
      @include theme-aware('color', 'warning', 'buttons');
    }
    &.success {
      @include theme-aware('color', 'success', 'buttons');
    }
  }
  &-body {
    max-width: 408px;
    margin: 0 auto 30px;
    &.text-center {
      text-align: center;
    }
  }
  &-footer {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 45px;
  }
}
