@import "../../assets/scss/mixins";

.table {
  min-width: 650px;
  width: 100%;
  &-wrapper {
    border-radius: 6px;
    min-width: 100%;
    overflow-x: auto;
  }
  &-head {
    tr {
      @include theme-aware('background-color', 'header', 'tables');
    }
  }
  &-tr {
    padding: 6px;
    border-top-width: 1px;
    border-top-style: solid;
    @include theme-aware('border-top-color', 'light', 'backgrounds');
    &-selected {
      @include theme-aware('background-color', 'header', 'tables');
    }
  }
  &-th {
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 400;
    @include theme-aware('color', 'secondary', 'typography');
  }
  &-td {
    padding: 12px 12px;
    font-size: 14px;
  }
}
